app = "yoda-ollama"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[env]
  OLLAMA_HOST = "0.0.0.0"

[http_service]
  internal_port = 11434
  force_https = false
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '8gb'
  cpu_kind = 'performance'
  cpus = 2

[mounts]
  source = "ollama_data"
  destination = "/root/.ollama"
  initial_size = "20gb"
